<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @basic.firstname %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @basic.lastname %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @basic.manufacturer %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @basic.cost %>
</p>

<p>
  <strong>Proteins:</strong>
  <%= @basic.description %>
</p>

<p>
  <strong>Carb:</strong>
  <%= @basic.color %>
</p>

<%= link_to 'Edit', edit_basic_path(@basic) %> |
<%= link_to 'Back', basics_path %>
